#centre_page div{margin:2px;}
#menu_left{margin-top:10px;  border:1px #eee solid; float:left; font-size:16px; text-align:center; height:300px; width:370px; background:#ECECEC; border-top-right-radius:10px;}
#Divers{    float:left; width:170px; height:170px; border:#DADADA solid 1px; border-radius:10px;}
#left_page{ background:#B3B3B7; margin-top:110px; height:500px; width:300px; float:left; margin-right:10px; }
#menu_right{float:right; width:685px; height:665px; padding-left:5px; margin-right:10px; }
#Annonces{
height:140px;
border:#DADADA solid 1px; border-radius:10px;
border-radius:10px;
}
div{background-color:white; }
#Annonces p{
margin-top:82px;
width:100%;
height:50px;
background-color:#DADADA;
opacity: 0.6;
font-size:20px;
font-family:TAHOMA;
color:#474747;
}
#Divers p{
margin-top:82px;
width:100%;
height:50px;
background-color:#DADADA;
opacity: 0.6;
font-size:20px;
font-family:TAHOMA;
color:#474747;
}
#Info_departement{ font-family:TAHOMA; font-size:28px; float:left; width:640px; height:300px; border:#DADADA solid 1px; border-radius:10px;}
#presentation_filiere{ float:left;  width:480px; height:280px;  border-radius:10px; border:2px solid black; padding:5px; }
#Divers{ background:#B3B3B7; height:140px; float:right; width:100%;  border:#DADADA solid 1px; border-radius:10px;}
.image_divers{width:305px; height:250px;   border-bottom-left-radius:10px; border-bottom-right-radius:10px;}